* {
    box-sizing: unset
}

form {
    width: 500px;
    border: 1px solid rgb(188, 208, 246);
    padding: 60px;
    margin: 150px auto 0 auto;
}

.error {
    padding: 8px;
    color: #FF0000;
    height: fit-content;
}

.name {
    margin: 12px 0px;
    display: flex;
}

input[type="radio"] {
    margin-left: 30px;
}

.gtinh {
    margin-top: 15px;
    padding-right: 15px;
    margin-left: 5px;
}

.ip {
    margin-left: 20px;
    border: 1px solid rgb(87, 137, 245);
}

.khoa,
.date {
    width: 30%;
    padding: 5px;
}

.lab {
    background: rgb(64, 164, 71);
    padding: 8px 10px;
    border: 2px solid blue;
    width: 25%;
    display: block;
    color: white;
}

.inp {
    margin-left: 20px;
    width: 60%;
    border: 1px solid rgb(87, 137, 245);
}

.dki {
    background: rgb(4, 129, 44);
    padding: 8px 10px;
    border: solid 2px rgb(154, 154, 232);
    width: 25%;
    display: block;
    color: white;
    border-radius: 6px;
    margin: 30px auto 0 auto;
}

.btn {
    all: initial;
}

.input-group>.form-control {
    flex: unset;
    border-radius: 0;
}

label {
    font-weight: unset;
}

.upload {
    margin-left: 20px;
    margin-top: 10px;
}

img{
    margin-left: 170px;
    margin-top: -50px;
}

p {
    margin-left: 20px;
    width: 60%;
    margin-top: 10px;
    height: 30px;
}